html{
	font-size: 62.5%;
	overflow-x: hidden;
	
}

@media(max-width: 99.8rem) {
	html{
		font-size: 55%
		
	}
}
@media(max-width: 50.8rem) {
	html{
		font-size: 45%
	}
}
@media only screen and (max-width: 600px) {
    .container {
      padding: 20px;
    }
    .search{
      width: 100%;
    }
    .menu {
      width: 100%;
    }
	.contactf{
		width: 100%;
	}
  }

body{
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 100rem;
	background-color: rgba(181, 180, 255, 0.452);
}


.container{
	height: auto;
	background-color:rgb(220, 230, 252);
	margin: auto;
	max-width: 100rem;
}




.search{
	float: right;
	left: 1.2rem;
	padding: 2.0rem;
}
.logo{
	float: left;
	padding: 2.0rem;
}
.fix{
	clear: both;
}
.menu{
	background-color: rgb(66, 109, 209);
	position: relative;
}

.menu > ul {
	display: inline;
	margin: 0rem;
	padding: 0rem;
	list-style-type: none;
}

.menu > ul > li {
	display: inline-block;
	
}
.menu > ul > li > a{
	font-size: small;
	color: rgb(0, 0, 0);
	font-weight: 1000;
	display: block;
	text-decoration: none;
	font-family: sans-serif;
	padding: 1.5rem;
	
}
.menu > ul > li > a:hover {
	background-color:rgb(165, 193, 236);
	
}

.drop{
	position: absolute;
	margin: 0rem;
	display: none;
	list-style-type: none;
	padding: 0rem;
	z-index: 999;
}
.drop > li > a {
	font-size: small;
	color: rgb(0, 0, 0);
	font-weight: 1000;
	display: block;
	text-decoration: none;
	font-family: sans-serif;
	padding: 1.5rem;
	background-color: rgb(66, 109, 209);
}

.drop > li > a:hover{
	background-color: rgb(165, 193, 236);
	
}
.menu > ul > li:hover .drop{
	display: block;
	
}

.ban {
	width: 100rem;
	height: 74.98rem;
	overflow: hidden;
	
}
.ban > img {
	width: 100%;
	height: auto;
	position: relative;
	border-radius: 9.0rem;
	box-shadow: 11rem 13rem 21rem #004cff9e;

}
.contenth{
	background-color:rgb(220, 230, 252);
    height: auto;
    float: left;
	text-align: center;
	font-size: 1.6rem;
    padding: 2.3rem;
	
}
/* .content{
	background-color:rgb(220, 230, 252);
	float: left;
	padding: 2.5rem;
	width: 70.0rem;
	height: auto;
} */

.clearfix{
    clear: both;
}

.footer{
	background-color: rgb(66, 109, 209);
	color: rgb(0, 0, 0);
	font-weight: 1000;
	text-align: center;
	padding: 2.0rem;
}
.footbox{
	width: 30.0rem;
	height: auto;
	float: left;
	font-family: sans-serif;
}
.footbox h3{
	font-size: 1.8rem;
}
.footbox ul{

	display: inline;
	margin: 0rem;
	padding: 0rem;
	list-style-type: none;

}
.footbox ul li a {
	display: block;
	font-size: small;
	text-decoration: none;
	margin-bottom: 0.5rem;
	color: rgb(0, 0, 0);
}
.footbox address p,a{
	font-size: small;
	color: rgb(0, 0, 0);
}
.copy{
	font-family: sans-serif;
	background-color: rgb(17, 57, 151);
	color: rgb(0, 0, 0);
	font-weight: 1000;
	text-align: center;
	padding: 2.5rem;
}

.copy p{
	margin: 0rem;
	font-size: 1.5rem;
}
/* about */
.content img{
	max-width: 100%;
}
/*products*/
.product1{
	width: 20.0rem;
	height: auto;
	float: left;
	margin: 4.5rem;	
	border: 0.1rem solid orange; 
	padding: 0.5rem;

}

.pcaption p{
	font-weight: bold;

}

.pcaption ins{
	color: rgb(12, 71, 10);
}
.pcaption del{
	color: rgb(223, 10, 38);
}
.pcaption a{
	background-color: teal;
	display: block;
	font-size: small;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	color: thistle;
	padding: 0.8rem;
	
}
.pcaption a:hover{
	background-color: tomato;
	color: whitesmoke;
}
<<<<<<< HEAD
.contactf{
	max-width: 100%;
	margin: 8rem;
	font-size: 1.7rem;
}

.contactf td{
	max-width: 100%;
	padding: 0.6rem;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  
  /* Style the container */
  .container {
	border-radius: 5px;
	background-color: rgb(220, 230, 252);
	padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }

  @media (max-width: 880px) {

    .footer .footbox{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

=======
/*Contact*/
.bani iframe {
    width: 1000px;
    height: 410.8px;
    overflow: hidden;
}
>>>>>>> 5f9fd9292c45242b54277a5f0bfb2ef7e7371d16
